@model Northwind.EntityModels.Category

@{
    ViewData["Title"] = "Category Details";
}

<h1>@Model.CategoryName</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p>@Model.Description</p>
}
else
{
    <p>Beskrivning saknas</p>
}